.sidedrawer-icon {
    margin-left: 12dp;
    margin-right: auto;
    margin-top: 17dp; 
    margin-bottom: 10dp;
    position:absolute;
    z-index: 0;    
}  

.app-header{
    background-color: #437077;   
}

.android-tabs{
      background-color: #003057;
}

.app-title{
	font-size: 20dp;
    color: white;
    z-index: 1;
    font-weight: bold;
    margin-top: 10dp;
    position:absolute; 
}

.app-title-container{
   width: 100%;
   height: 25%;
}