<Loading *ngIf="isFetching"></Loading>
<StackLayout orientation="vertical" id="profile-container">
    <PageContainer *ngIf="!isFetching" pageTitle="Perfil">
        <StackLayout orientation="vertical">
            <StackLayout id="info-user-container">
                <Label id="info-user-title" text="Estadísticas de usuario"></Label>
                <FlexboxLayout id="image-container" alignItems="center"
                    justifyContent="center">
                    <Image src="~/images/icons/user.png" width="50%" height="50%"
                        id="pic-container"></Image>
                </FlexboxLayout>
                <Image src="~/images/logo.png" width="30%" height="30%" id="logo"></Image>
            </StackLayout>

            <StackLayout id="stadistics-container">
                <StackLayout orientation="horizontal">
                    <StackLayout orientation="vertical" class="info-container">
                        <Label text="X" class="counter"></Label>
                        <Label class="counter-detail" text="Número de citas atendidas"></Label>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="info-container">
                        <Label text="X" class="counter"></Label>
                        <Label class="counter-detail" text="Número de citas por atender"></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>

        </StackLayout>
    </PageContainer>
</StackLayout>
